@model IEnumerable<Bugs>
@using (Html.BeginForm("Assignedbugs", "Bugs", "Post"))
{


    <h2>Bugs</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Project</th>
        <th>Description</th>
        <th>Type</th>
        <th>Status</th>
        <th>Date</th>
        <th>Assinged User ID</th>
        @*<th>Image</th>*@
    </tr>

    @foreach (var bugs in Model)
    {
        <tr>
            <td><a href=/Bugs/ViewBug/@bugs.ID>@bugs.ID</a></td>
            <td>@bugs.Project</td>
            <td>@bugs.Description</td>
            <td>@bugs.Type</td>
            <td>@bugs.Status</td>
            <td>@bugs.Date</td>
            <td>@bugs.AssignedUserID</td>

            @*<td><img src="@bugs.Image" width="200"/></td>*@
        </tr>

    }
</table>
}
