@model Bugs

<h2>Update @Model.ID</h2>

@using (Html.BeginForm("UpdateBugToDatabase", "Bugs", "Post"))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />

    <label asp-for="Project" class="control-label">Project</label>

    <input type="text" name="Project" class="form-control" value="@Model.Project" />

    <label asp-for="Description" class="control-label">Description</label>

    <input type="text" name="Description" class="form-control" value="@Model.Description" />

    <label asp-for="Type" class="control-label">Type</label>

    <input type="text" name="Type" class="form-control" value="@Model.Type" />

    <label asp-for="Status" class="control-label">Status</label>

    <input type="text" name="Status" class="form-control" value="@Model.Status" />

    <label asp-for="Date" class="control-label">Date</label>

    <input type="number" name="Date" class="form-control" value="@Model.Date" />

    <label asp-for="AssignedUserID" class="control-label">Assigned User ID</label>

    <input type="number" name="AssignedUserID" class="form-control" value="@Model.AssignedUserID" />
    @*<div>
            <form method="post" enctype="multipart/form-data" asp-controller="Bug" asp-action="UploadButtonClick">
                <input asp-for="ID" type="hidden" />
                <input asp-for="Image" class="form-control" name="files" type="file" />
                <p>Upload Photo</p>
                <input class="btn btn-success" type="submit" value="Upload" />
            </form>
        </div>*@
    <input type="submit" value="Update Bug" class="btn btn-primary" />

}
